.asosiysahifa_title {
    margin-bottom: 50px;
    font-size: 25px;
    background: #a29e8d;
    padding: 10px;
    font-weight: 600;
    color: yellow;
    border-radius: 10px;
}

.asosiysahifa_img {
    display: flex;
    justify-content: center;

    img {
        border-radius: 10px;
    }
}